<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ahmad.gorentcar">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icons"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icons"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TransaksiDua"></activity>
        <activity android:name=".CheckOutLanjut" />
        <activity android:name=".CheckOut" />
        <activity android:name=".DetailSewaActivity" />
        <activity android:name=".LoginDua" />
        <activity android:name=".Register" />
        <activity android:name=".Login" />
        <activity android:name=".Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>